#resultDiagram1, #resultDiagram2, #resultDiagram3, #resultDiagram4 {
    width: 400px; 
    height: 400px; 
    background-color: hsl(0, 0%, 100%); 
    position: relative;
    border: solid 2px hsl(0, 0%, 15%)
  }
  
  .section {
    border: 1px solid #272727;
    position: absolute;
  }

  .circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the circle */
    display: none; /* Hide initially */
  }